@media only screen and (min-width: 100em) {
  html {
    font-size: 62.5%; /* previsouly: 68.75%; */
  }
  .md-sidebar {
	position:absolute;
	width:24.2rem;
	padding:2.4rem 0;
	overflow:hidden;
  }
  .md-grid {
	max-width:150rem;
	margin-right:auto;
	margin-left:auto
	}
  .md-sidebar--secondary {
	margin-left:150rem;
  }
}
